*{
    margin:0;
    padding:0;
}
/*=============
section1 part start
==============*/
.section1{
    width:1920px;
    height:920px;
    background-color: #F9FDFE;
 }
 .section1 .pad{
    padding-top:28px;
    padding-bottom:127px; 
    /* background:rgb(127, 206, 205);  */
    }
.nav{
    width:1410px;
    height:64px;
    /* background-color: #f1f5f6; */
    margin:0 auto;/*For this margin:0 auto property ,the navdiv reamin along the center*/
    display:flex;  /*because of using the display: flex is the nav div is divided into three parts along the width like logo,menu,buttonpart*/
    position:relative; /*here position is used  for z-index*/
    z-index:3;    
}
.section1 .pad .nav .logopart{
    width:25%;
    /* background-color:green; */
    text-align:left;/*text-align:left(default system),right,center.why text-align works here?*/
}
.section1 .pad .nav .menupart{
    width:50%;
    height:100%;
    padding-top:19px;
    padding-bottom:20px;
    position:relative;  /*here position is used  for z-index*/
    z-index:99;
   
   
}
 .section1 .menupart .ulone{
    list-style:none;   
    display:flex; 
    justify-content:space-between; 
    /* column-gap: 48px;   */  /* column-gap: 48px;if there is used justify-content:space-between then no works column-gap  */
   
}
.section1 .menupart .ulone li a{
    text-decoration:none;
    font-size:18px;
    font-weight: 600px;
    font-family: "Open Sans", serif;
    color:#29313D;
    transition:.5s;
}
.section1 .menupart .ulone li a:hover{  /*li te hover korle kaj hoy nah kano?*/
     color:#8454F5;
}
.section1 .menupart .ulone li a i{
    margin-left:4px;
}
.section1 .pad .nav .buttonpart{
    width:25%;
    height:100%;
    display:flex;           /* display :flex works more not only along the width*/
    justify-content:flex-end;
    /* align-items:center;  no need as padding is used the below */
}  
  
.section1 .pad .nav .buttonpart a{
    text-decoration:none;
    color:white;
    font-size:18px;
    font-weight:600px;
    padding:18px 28px;
    font-family: "Nunito", serif;
    border:1px solid transparent;
    background-color:#8454F5;
    border-radius:18px;
    
}
.section1 .pad .nav .buttonpart a:hover{
         background-color:white;
         border-color:#8454F5;
        
        
        
         color:#0b0b0c;
}

.banner{
    width:1840px;
    height:595px;
    /* background:rgb(204, 236, 204); */
    margin-left:4%;
    position:relative;
}
 .banner.container{
    display:flex;   
}
.bannermusk{
    position:absolute;
    top:-32%;
    left:3%;
    z-index:1; /*because of using z-index is the bannermusk part have taken full area of section1.so hover of menupart to active using z-index in buttonpart,menupart and here*/
}
.bannerright{
    position:absolute;
    top:7px;
    right:0px;
   
}
.bannerleft{
    position:absolute;
    top:7px;
    left:0px;
}
.bannerleft{
    position:absolute;
    top:7px;
    left:0px;
}
.bannerextra{
    position:absolute;
    top:86%;
    left:57%;
}
.banner-top{
    position:absolute;
    top:-7%;
    left:29%;
}
.section1 .banner h1{
    color:#1D354F;
    font-size:64px;
    font-weight:800px;
    font-family: "Open Sans", serif;
    width:23%;
    /* background-color:aqua; */
    Position:absolute;
    margin:4% 31%;
}
.section1 .banner p{
    color:#29313D;
    font-size:18px;
    font-weight:200px;
    font-family:"Nunito", serif;
    width:23%;
    /* background-color:aqua; */
    Position:absolute;
    margin:14% 31%;
}
.banner .buttonget a{
     text-decoration:none;
     color:white;
     font-size:18px;
     font-weight:600px;
     padding:18px 28px;
     font-family: "Nunito", serif;
     border:1px solid transparent;
     background-color:#8454F5;
     border-radius:20px;
     display:inline-block;
     margin:19% 31%;
}
.banner .buttonget a:hover{
    color:#8454F5;
    background-color:green;
}
.ultwo{
    list-style:none;
    display:flex; /*display:flex use korer por o vertical barabor kaj kore flex-direction:column ar jonno*/
    flex-direction:column;
    line-height:40px;
    background:white;
    position:relative; /*position:relative use korle kono change hoy nah kintu position:relative use korle top and left kaj kore tai position use kora hoyese.very interesting*/
    top:8px;
    left:-1px; 
    /* opacity:0;    */
}
.ultwo .academic{
    position:relative;
}
.ultwo .ulthree{
    list-style:none;
    position:absolute;
    top:18px;
    left:106px;
    background-color:white;
}
/*=================
sectiion1  part end
===================*/
/*=================
service   part start
===================*/
.service{
    width:1920px;
     background-color:#f6f1f1;
    padding-top:90px;
    padding-bottom:110px;
}
.service .container{
    width:1410px;
     background-color:#FDFDFD;
    margin:0 auto; 
    /* padding-top:90px; */
    /* padding-bottom:110px; */
   
}
.service .container h2{
    font-size:48px;
    font-family: "Poppins", serif;
    font-weight:600;
    color:#29313D;
    text-align:center;
    padding-bottom:60px;
   
}
.service .box{
    width:1410px;
    display:flex;
    column-gap:30px;
    
}
.service .service-card{
    width:330px;
    height:355px;
     background-color:#FFFFFF;
    /* padding:30px 20px;  kaj holo nah kano?*/
    transition:.5s;
}

.service .service-card .image{
    margin-left:20px;
    margin-top:30px;
}
.service .service-card h3{
    font-size:28px;
    font-weight:600;
    font-family: "Poppins", serif;
    color:#29313D;
    padding-top:24px;
    padding-bottom:14px;
    margin-left:20px;
}
.service .service-card p{
    font-size:18px;
    font-weight:400;
    font-family:"Nunito", serif;
    color:#29313D;
    line-height:200%;
    padding-bottom:24px;
    width:315px;
    margin-left:20px;
}
.service .service-card a{
    font-size:18px;
    font-weight:bold;
    font-family:"Nunito", serif;
    color:#29313D;
    text-decoration:none;
    margin-left:20px;
    margin-bottom:30px;
}
.service .service-card:hover{
    background-color:#FFFFFF;
    box-shadow: 6px 9px 11px -3px rgba(0,0,0,0.52);
    -moz-box-shadow: 6px 9px 11px -3px rgba(0,0,0,0.52);
    box-shadow: 6px 9px 11px -3px rgba(0,0,0,0.52);
    background-color:#FDFDFD;
}
/*=================
service   part end
===================*/
/*=================
app   part start
===================*/
.launch{
    width:1920px;
   
    background-color:white;
    padding:96px 393px 120px 255px;
   
}
.launch .box{
    width:1272px;
   height:644px;
    display:flex;
    column-gap:60px;
    /* background-color:red;   */
    align-items: center;
}
.launch .left{
    width:540px;
    height:644px;
    /* background-color:green; */
    position:relative;
}
.launch .left .appbanner{
    position:absolute;
    top:24px;
    left:0px;
}
.launch .left .app{
    position:absolute;
    top:0px;
    left:50%;
    transform:translateX(-50%);
}

.launch .right{
    width:672px;
    height:557px;
    background-color:white;
    
}
.launch .right .let{
    width:607px;
    color:#29313D;
    font-size:48px;
    font-weight:600;
    font-family: "Poppins", serif;
    line-height: 140%;
}
.launch .right p{
    width:443px;
    font-size:18px;
    color:#29313D;
    font-weight:400;
    font-family:"Nunito", serif;
    line-height: 200%;
    padding-top:20px;
    padding-bottom:36px;
}
.launch .right .rightbottom{
    width:290px;
    height:295px;
}
.launch .right .rightbottom .care{
    font-size:28px;
    font-weight: 600;
    font-family: "Poppins", serif;
    color:#29313D;
    line-height:140%;
    padding-top:24px;
    padding-bottom:14px;
}
.launch .right .rightbottom p{
    width:290px;
    font-size:18px;
    font-weight:400;
    font-family:"Nunito", serif;
    color:#29313D;
    line-height:200%;
    padding-top:0px;
    padding-bottom:24px;
}
.launch .right .rightbottom a{
    text-decoration:none;
    color:#29313D;
}
.launch .right .bottom{
    display:flex;
    column-gap: 30px;
}
/* creative app showcase part start */
.creative{
    width:1920px;
    background-color:#F8FDFE;
    padding:120px 255px;  
 } 
 .creative .containerc{
    width:1410px;
    /* background-color:rgb(135, 220, 15);    */
}

.creative .containerc h6{
    font-size:48px;
    font-weight: 600;
    color:#29313D;
    font-family: "Poppins", serif;
    text-align:center;
}
.creative .containerc p{
    font-size:18px;
    font-weight:400;
    font-family:"Nunito", serif;
    color:#29313D;
    padding-top:24px;
    padding-bottom:60px;
    text-align:center;

}
.creative .containerc .creativeimage{
    width:1410px;
    display:flex;
    column-gap:30px;
}
.creative .containerc .creativeimage .image1{
    width:330px;
    height:715px;
    background-color:#C4C4C4;
    border-radius:20px; 
    transition:.5s;
}
.creative .containerc .creativeimage .image1:hover{
   
    box-shadow: 9px 9px 8px -7px rgba(0,0,0,0.87);
    -moz-box-shadow: 9px 9px 8px -7px rgba(0,0,0,0.87);
    box-shadow: 9px 9px 8px -7px rgba(0,0,0,0.87); ;

}
.creative .containerc .creativebutton{
    text-align:center;
    padding-top:60px;
}
/* creative app showcase part end  */

/* global part start */
.global{
    width:1923px;
    height:564px;
    background-color:white;
    position:relative;
}
.global .container{
    width:1410px;
    /* background-color:green; */
    position:absolute; /* here position is used to activate margin-top. why*/
    margin-left:255px;
    margin-top:120px;
}

.global .container .box{
    display:flex;
    justify-content:space-between;
}
.global .container .box h1{
    width:529px;
    font-size:48px;
    font-weight:600;
    font-family: "Poppins", serif;
    color:#29313D;
}
.global .container .box .viewbutton{
    width:151px;
    height:64px;
    background-color:#8454F5;
    border-radius:10px;
   display:flex;
   justify-content: center;
   margin-top:40px;
   
}
.global .container .box .viewbutton a{
    text-decoration:none;
    color:#29313D;
    font-size:18px;
    font-weight:400;
    font-family: "Nunito", serif;
    padding:20px 40px;
}
.global .container .boxtwo{
    width:1410px;
    height:300px;
    padding-top:70px;
    
}
.global .container .boxtwo .globalimage{
    display:flex;
    column-gap:60px;
    justify-content:space-between;
}
/* =================
Trail part start
============ */
.trail{
    width:1920px;
    /* height:600px; */
   
    padding-top:100px;
    background-color:#F8FDFE;
}
.trail .container{
    width:1410px;
    height:550px;
    background-color:#F8FDFE;
    margin:0 auto;
    position:relative; /*here position used for trialbox*/
} 
   
.trail .container h2{
    width:418px;
    font-size:57px;
    font-weight:600;
    font-family: "Poppins", serif;
    color:#29313D;
    margin:0 auto;
    
    }
.trail .container p{
    width:406px;
    font-size:18px;
    font-weight:400;
    font-family:"Nunito", serif;
    color:#29313D;
    margin:0 auto;
    line-height:200%; 
    padding-bottom:20px; 
    /* position:relative;  */
}
.togglebar{
    width:77px;
    height:30px;
    background-color:#DDDAFA;
    border-radius:40px;
    position:relative;
    margin:0 auto;
  margin-bottom:60px;  
}
.togglebar::after{
    width:30px;
    height:30px;
    background-color:#6A55EA;
    border-radius:50%;
    position:absolute;
    top:0;
    right:0;
    content:"";
}
.trail .trailbox{
    display:flex;
    column-gap:30px;
    position:absolute;
    top:310px;
    left:0px;

    
}
.trail .trailbox .tbox1{
    width:450px;
    background:white; 
    transition:.5s; 
   
}
.trail .trailbox .tbox1:hover{
    -webkit-box-shadow: 4px 5px 8px -2px rgba(0,0,0,0.86);
    -moz-box-shadow: 4px 5px 8px -2px rgba(0,0,0,0.86);
    box-shadow: 4px 5px 8px -2px rgba(0,0,0,0.86);
}
.trail .trailbox .tbox1 h5{
    width:100%;
    font-size:20px;
    font-weight:600;
    font-family: "Poppins", serif;
    color:#29313D;
    text-align:center;
    padding:20px 0px;
    border-bottom:1px solid rgba(53, 41, 41,0.10);
    position:relative;
   
}
.trail .trailbox .tbox1 h5::after{
    width:51px;
    height:5px;
    background-color:#6A55EA;
    border-radius:30px;
    position:absolute;
    top:100%;
    left:50%;
    content:"";
    transform:translateX(-50%);
}
.trail .trailbox .tbox1 .button500{
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.trail .trailbox .tbox1 .button500 h3{
    font-size:48px;
    font-weight:600;
    font-family: "Poppins", serif;
    color:#29313D;
    margin-left:28px;
}
.trail .trailbox .tbox1 .button500 .tbutton{
    width:130px;
    height:55px;
    background-color:#6A55EA;
    border-radius:20px;
   display:flex;
   justify-content: center;
   align-items:center;
   margin-right:28px;
   margin-top:20px;
}
.trail .trailbox .tbox1 .button500 .tbutton a{
    text-decoration:none;
    font-size:18px;
    font-weight:400;
    color:#F9FDFE;   
}
.trail .trailbox .tbox1 ul{
    list-style:none;
    display: flex;
    padding:16px 0px;       
}
.trail .trailbox .tbox1 .trialul li{
    font-size:88px;
    font-weight:400;
    font-family:"Nunito", serif;
    color:#29313D;
}
.trail .trailbox .tbox1 span i{
    width:15px;
    height:15px;
    border:1px solid rgb(14, 14, 14);
    border-radius:10%;
    background-color:rgb(243, 233, 233);
    margin-left:28px;
    margin-right:8px;
    display:flex;
    justify-content: center;
    align-items:center;   
}
/* =================
Trail part end
============ */




















